In [2]:
### lets first import our necessary libs

In [3]:
import numpy as np
import pandas as pd

### Extraction Layer

In [7]:
yanki_df=pd.read_csv(r'dataset\rawdata\yanki_ecommerce.csv')
yanki_df

,Order_ID,Customer_ID,Customer_Name,Product_ID,Product_Name,Brand,Category,Price,Quantity,Total_Price,Order_Date,Shipping_Address,City,State,Country,Postal_Code,Email,Phone_Number,Payment_Method,Transaction_Status
0,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,2020-05-27 14:20:38.292975,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
1,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,2020-05-27 14:20:38.292975,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
2,e32af09a-b6ab-497e-af3a-331e4d4ed6e7,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Dominic Buchanan,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,despite,"Lawson, Stone and Campos",perfume oil,250.57,2,501.14,2020-03-06 06:49:07.272117,"PSC 2224, Box 2284\nAPO AP 65880",Jordanborough,Arkansas,Kuwait,27879,margaret97@example.com,259.603.6134,Debit Card,completed
3,86eb8859-14ab-4d4e-9267-c5826f4e0c8e,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Daniel Allen,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,sea,Washington Group,perfume oil,179.81,6,1078.86,2020-07-31 07:09:30.231510,"83909 Johnson Mall\nTranberg, MS 99017",Lake Ginatown,Georgia,Saint Vincent and the Grenadines,39336,angela55@example.com,+1-869-659-4272x982,Credit Card,completed
4,7379b560-8897-4623-92a2-523ddcdc43a1,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,Daniel Schmidt,a58c53bd-a34b-4541-b926-bec9eb84cac2,suddenly,Rodgers Ltd,perfume oil,600.55,7,4203.85,2021-05-11 04:33:09.707443,"82101 Johnson Flat\nWest Ryan, MS 29075",Sarahville,Ohio,France,30845,wayne59@example.org,292.840.0975x724,PayPal,pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,bb17468a-7648-4974-b3d6-9f9f1a78cb39,1e75eb3a-9ba5-4ea6-82ec-886abe298058,Jeremy Farrell,ad5204d7-e5c2-417c-91f7-5fa07619ef54,officer,Thornton Group,perfume,118.46,3,355.38,2023-08-07 12:34:10.009932,"440 Carson Port Suite 634\nLake Heather, MA 22883",West Danielle,South Carolina,Iran,17863,leejohn@example.com,922.207.8157x85481,PayPal,pending
1016,184827be-c3bd-40a1-a2bb-8b085d58ddc0,c53c32ef-2e64-4ac4-ac48-3707ab1ebd1f,Marc Hudson,0ea15074-b823-4345-924c-aeb9fafe9571,treat,Guzman-Petersen,perfume,91.14,2,182.28,2024-01-14 09:27:21.372714,"75333 Clayton Forges Apt. 292\nLake Matthew, D...",Whitemouth,Arkansas,Japan,24756,james85@example.org,908.901.4896x12666,PayPal,completed
1017,2dac83f2-fddb-4761-b211-ea716feee91c,ebc19a03-a32d-4d3c-9976-f30cee3d3a70,Devin Joseph,e911b0a9-75fb-4c17-b552-52be0d19f856,watch,Jones-May,perfume,246.73,10,2467.30,2021-01-23 10:25:25.233434,"426 Amy Islands\nCollinsberg, MT 21928",South Stephanie,Indiana,Timor-Leste,54502,chadbenson@example.com,(718)789-6289,PayPal,pending
1018,08341169-2d82-41d4-8273-fda624f99042,0598403f-7a42-44a9-994e-9f23feb20394,Spencer Elliott,9c9792f9-4dc2-43b2-98f4-e989cf1bdb3a,toward,Richardson PLC,perfume,647.26,10,6472.60,2022-04-15 23:15:41.204791,"01490 Lopez Garden\nPort Adamton, ND 35200",Thompsonfort,South Dakota,Pakistan,78892,eric98@example.org,366-506-0469x728,PayPal,pending
1019,476f789e-727f-4aad-9395-3d66aec6261a,8832dd24-c104-475b-8327-d687d3912b58,Jeffrey Jackson,b835cfa0-70c5-4018-a5e8-50c9d71b5d56,hit,Hamilton-Daniels,perfume oil,350.29,3,1050.87,2021-04-01 09:23:59.544167,"875 Duarte Knolls\nGarciamouth, TX 16464",Jonathanport,Utah,Western Sahara,26856,turnerjoanna@example.org,8483263716,Credit Card,pending

In [8]:
yanki_df.head()

,Order_ID,Customer_ID,Customer_Name,Product_ID,Product_Name,Brand,Category,Price,Quantity,Total_Price,Order_Date,Shipping_Address,City,State,Country,Postal_Code,Email,Phone_Number,Payment_Method,Transaction_Status
0,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,2020-05-27 14:20:38.292975,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
1,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,2020-05-27 14:20:38.292975,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
2,e32af09a-b6ab-497e-af3a-331e4d4ed6e7,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Dominic Buchanan,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,despite,"Lawson, Stone and Campos",perfume oil,250.57,2,501.14,2020-03-06 06:49:07.272117,"PSC 2224, Box 2284\nAPO AP 65880",Jordanborough,Arkansas,Kuwait,27879,margaret97@example.com,259.603.6134,Debit Card,completed
3,86eb8859-14ab-4d4e-9267-c5826f4e0c8e,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Daniel Allen,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,sea,Washington Group,perfume oil,179.81,6,1078.86,2020-07-31 07:09:30.231510,"83909 Johnson Mall\nTranberg, MS 99017",Lake Ginatown,Georgia,Saint Vincent and the Grenadines,39336,angela55@example.com,+1-869-659-4272x982,Credit Card,completed
4,7379b560-8897-4623-92a2-523ddcdc43a1,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,Daniel Schmidt,a58c53bd-a34b-4541-b926-bec9eb84cac2,suddenly,Rodgers Ltd,perfume oil,600.55,7,4203.85,2021-05-11 04:33:09.707443,"82101 Johnson Flat\nWest Ryan, MS 29075",Sarahville,Ohio,France,30845,wayne59@example.org,292.840.0975x724,PayPal,pending

In [9]:
yanki_df.tail()

,Order_ID,Customer_ID,Customer_Name,Product_ID,Product_Name,Brand,Category,Price,Quantity,Total_Price,Order_Date,Shipping_Address,City,State,Country,Postal_Code,Email,Phone_Number,Payment_Method,Transaction_Status
1015,bb17468a-7648-4974-b3d6-9f9f1a78cb39,1e75eb3a-9ba5-4ea6-82ec-886abe298058,Jeremy Farrell,ad5204d7-e5c2-417c-91f7-5fa07619ef54,officer,Thornton Group,perfume,118.46,3,355.38,2023-08-07 12:34:10.009932,"440 Carson Port Suite 634\nLake Heather, MA 22883",West Danielle,South Carolina,Iran,17863,leejohn@example.com,922.207.8157x85481,PayPal,pending
1016,184827be-c3bd-40a1-a2bb-8b085d58ddc0,c53c32ef-2e64-4ac4-ac48-3707ab1ebd1f,Marc Hudson,0ea15074-b823-4345-924c-aeb9fafe9571,treat,Guzman-Petersen,perfume,91.14,2,182.28,2024-01-14 09:27:21.372714,"75333 Clayton Forges Apt. 292\nLake Matthew, D...",Whitemouth,Arkansas,Japan,24756,james85@example.org,908.901.4896x12666,PayPal,completed
1017,2dac83f2-fddb-4761-b211-ea716feee91c,ebc19a03-a32d-4d3c-9976-f30cee3d3a70,Devin Joseph,e911b0a9-75fb-4c17-b552-52be0d19f856,watch,Jones-May,perfume,246.73,10,2467.30,2021-01-23 10:25:25.233434,"426 Amy Islands\nCollinsberg, MT 21928",South Stephanie,Indiana,Timor-Leste,54502,chadbenson@example.com,(718)789-6289,PayPal,pending
1018,08341169-2d82-41d4-8273-fda624f99042,0598403f-7a42-44a9-994e-9f23feb20394,Spencer Elliott,9c9792f9-4dc2-43b2-98f4-e989cf1bdb3a,toward,Richardson PLC,perfume,647.26,10,6472.60,2022-04-15 23:15:41.204791,"01490 Lopez Garden\nPort Adamton, ND 35200",Thompsonfort,South Dakota,Pakistan,78892,eric98@example.org,366-506-0469x728,PayPal,pending
1019,476f789e-727f-4aad-9395-3d66aec6261a,8832dd24-c104-475b-8327-d687d3912b58,Jeffrey Jackson,b835cfa0-70c5-4018-a5e8-50c9d71b5d56,hit,Hamilton-Daniels,perfume oil,350.29,3,1050.87,2021-04-01 09:23:59.544167,"875 Duarte Knolls\nGarciamouth, TX 16464",Jonathanport,Utah,Western Sahara,26856,turnerjoanna@example.org,8483263716,Credit Card,pending

In [10]:
yanki_df.shape

(1020, 20)

In [11]:
yanki_df.isnull().sum()

Order_ID              20
Customer_ID           20
Customer_Name         20
Product_ID             0
Product_Name           0
Brand                  0
Category               0
Price                  0
Quantity               0
Total_Price            0
Order_Date             0
Shipping_Address       0
City                   0
State                  0
Country                0
Postal_Code            0
Email                  0
Phone_Number           0
Payment_Method         0
Transaction_Status     0
dtype: int64

In [13]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1020 non-null   object
 4   Product_Name        1020 non-null   object
 5   Brand               1020 non-null   object
 6   Category            1020 non-null   object
 7   Price               1020 non-null   float64
 8   Quantity            1020 non-null   int64
 9   Total_Price         1020 non-null   float64
 10  Order_Date          1020 non-null   object
 11  Shipping_Address    1020 non-null   object
 12  City                1020 non-null   object
 13  State               1020 non-null   object
 14  Country             1020 non-null   object
 15  Postal_Code         1020 non-null   int64
 16  Email               1020 non-null   object
 17  Phone_Number        1020 non-null   object
 18  Payment_Method      1020 non-null   object
 19  Transaction_Status  1020 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 159.5+ KB

In [14]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

### Data Cleaning and Transformation

In [17]:
#Lets drop missing values
yanki_df.dropna(subset=['Order_ID','Customer_ID'],inplace=True)

In [18]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1000 non-null   object
 4   Product_Name        1000 non-null   object
 5   Brand               1000 non-null   object
 6   Category            1000 non-null   object
 7   Price               1000 non-null   float64
 8   Quantity            1000 non-null   int64
 9   Total_Price         1000 non-null   float64
 10  Order_Date          1000 non-null   object
 11  Shipping_Address    1000 non-null   object
 12  City                1000 non-null   object
 13  State               1000 non-null   object
 14  Country             1000 non-null   object
 15  Postal_Code         1000 non-null   int64
 16  Email               1000 non-null   object
 17  Phone_Number        1000 non-null   object
 18  Payment_Method      1000 non-null   object
 19  Transaction_Status  1000 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 164.1+ KB

## Next we convert the data type in Order_date column from object to datetime datatype

In [20]:
yanki_df['Order_Date']=pd.to_datetime(yanki_df['Order_Date'])

yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1000 non-null   object
 4   Product_Name        1000 non-null   object
 5   Brand               1000 non-null   object
 6   Category            1000 non-null   object
 7   Price               1000 non-null   float64
 8   Quantity            1000 non-null   int64
 9   Total_Price         1000 non-null   float64
 10  Order_Date          1000 non-null   datetime64[ns]
 11  Shipping_Address    1000 non-null   object
 12  City                1000 non-null   object
 13  State               1000 non-null   object
 14  Country             1000 non-null   object
 15  Postal_Code         1000 non-null   int64
 16  Email               1000 non-null   object
 17  Phone_Number        1000 non-null   object
 18  Payment_Method      1000 non-null   object
 19  Transaction_Status  1000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(15)
memory usage: 164.1+ KB

In [22]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

Now lets build the normalised tables,using the data model we already created as a guide.
so we open the data model side by side and start creating the tables with the primary keys first

In [24]:
# Customer Table
customer_df=yanki_df[['Customer_ID', 'Customer_Name','Email','Phone_Number']].copy().drop_duplicates().reset_index(drop=True)

customer_df

,Customer_ID,Customer_Name,Email,Phone_Number
0,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Dominic Buchanan,margaret97@example.com,259.603.6134
1,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Daniel Allen,angela55@example.com,+1-869-659-4272x982
2,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,Daniel Schmidt,wayne59@example.org,292.840.0975x724
3,4b9b409c-19f2-41c0-bc7c-6556e0647ebb,John Gonzalez,qsherman@example.com,+1-643-561-3912x262
4,81b513ad-5c02-48cf-bff0-39e1440c4d22,Amber Benitez,derek85@example.com,3424148376
...,...,...,...,...
985,1e75eb3a-9ba5-4ea6-82ec-886abe298058,Jeremy Farrell,leejohn@example.com,922.207.8157x85481
986,c53c32ef-2e64-4ac4-ac48-3707ab1ebd1f,Marc Hudson,james85@example.org,908.901.4896x12666
987,ebc19a03-a32d-4d3c-9976-f30cee3d3a70,Devin Joseph,chadbenson@example.com,(718)789-6289
988,0598403f-7a42-44a9-994e-9f23feb20394,Spencer Elliott,eric98@example.org,366-506-0469x728
989,8832dd24-c104-475b-8327-d687d3912b58,Jeffrey Jackson,turnerjoanna@example.org,8483263716

In [ ]:
Product_df=yanki_df[['Customer_ID', 'Customer_Name','Email','Phone_Number']].copy().drop_duplicates().reset_index(drop=True)

customer_df